<nb-form-field class="field-soluong">
  <input
    nbInput
    fullWidth
    fieldSize="small"
    #soluongip
    type="number"
    min="1"
    (blur)="onModelChange(soluongip.value)"
    (keyup.enter)="onModelChange(soluongip.value)"
    [(ngModel)]="sl"
  />
  <button
    nbPrefix
    small
    status="warning"
    size="small"
    nbButton
    ghost
    (click)="giamSoluong()"
  >
    <nb-icon [icon]="'minus-outline'" pack="eva"> </nb-icon>
  </button>
  <button
    nbSuffix
    small
    nbButton
    size="small"
    status="success"
    ghost
    (click)="tangSoluong()"
  >
    <nb-icon [icon]="'plus-outline'" pack="eva"> </nb-icon>
  </button>
</nb-form-field>
