<nb-card>
  <nb-card-header>Chi tiết mặt hàng</nb-card-header>
  <nb-card-body>
    <div>
      <div class="photo">
        <img [src]="imageUrl" />
      </div>
      <div class="description">
        <h2>{{ product.tendaydu }}</h2>
        <h4>{{ product.masieuthi }}</h4>
        <h1>{{ product.giabanlecovat | number: "1.0" }}đ</h1>
        <input
          type="file"
          #image
          accept="image/*"
          (change)="handleFileInput($event.target.files)"
          style="display: none"
        />
        <button type="button" (click)="image.click()">Thay đổi ảnh</button>
        <button type="button" (click)="btnUploadClick()">Cập nhật</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
